/* CSS Document */
body{padding:0px; margin:0px; color:#3a3939; font:14px/20px "Trebuchet MS", Arial, Helvetica, sans-serif;}
ul{list-style-type:none;}
p{text-align: justify;}
#container{ margin: 0 auto; width: 778px;}
/*----TOP PANEL----*/
#topPan{width:778px; height:184px; background:url(/images/header.png) 0 0 no-repeat; position:relative; margin-top: 10px;}
#topPan img#logo{width:672px; height:55px; position:absolute; bottom:0px; right:0px;}

#topPan ul{width:140px; height:29px; background:url(images/top-nav.gif) 0 0 no-repeat; position:absolute; top:23px; left:195px;}
#topPan ul li{float:left;}

#topPan ul li.home{width:47px; height:29px; float:left;}
#topPan ul li.home a{width:18px; height:16px; display:block; background:url(images/home-hover.gif) 0 0 no-repeat; margin:3px 0 0 16px;  text-indent:-20000px;}
#topPan ul li.home a:hover{background:url(images/home-hover.gif) 0 0 no-repeat;}

#topPan ul li.sitemap{width:43px; height:29px; float:left;}
#topPan ul li.sitemap a{width:18px; height:16px; display:block; background:url(images/sitemap-nor.gif) 0 0 no-repeat; margin:3px 0 0 15px;  text-indent:-20000px;}
#topPan ul li.sitemap a:hover{background:url(images/sitemap-hover.gif) 0 0 no-repeat;}

#topPan ul li.contact{width:43px; height:29px; float:left;}
#topPan ul li.contact a{width:18px; height:16px; display:block; background:url(images/contact-nor.gif) 0 0 no-repeat; margin:3px 0 0 15px;  text-indent:-20000px;}
#topPan ul li.contact a:hover{background:url(images/contact-hover.gif) 0 0 no-repeat;}
/*----/TOP PANEL----*/

/*----BODY TOP PANEL----*/
#bodytopPan{width:778px; position:relative; padding:13px 0 0;}
/*----Body Top Left Panel----*/
#btleftPan{width:550px; float:left; padding:0 10px 0 0;}
#btleftPan h2{background:#fff; color:#1d1636; font:30px/36px Georgia, "Times New Roman", Times, serif; margin: 8px 0px; padding-bottom: 4px; border-bottom: 1px dotted #0037A7;}

#btleftPan img, #btleftPan div {float: left; clear: none;}
#btleftPan img {width: 550px; height: 150px; padding: 0px 0px 3px 0px; }
#btleftPan p {line-height: 1.4em; font-size: 1.1em; padding-bottom: 5px;}
#btleftPan p span{font-weight:bold;}

#btleftPan p.more{width:73px; height:25px; margin:0 0 0 417px; font:12px/24px Arial, Helvetica, sans-serif; font-weight:bold; text-transform:uppercase;}
#btleftPan p.more a{width:53px; height:25px; display:block; background:url(images/rollover-nor.gif) 0 0 no-repeat #FAFAFA; color:#fff; padding:0 0 0 20px; text-decoration:none;}
#btleftPan p.more a:hover{background:url(images/rollover-hover.gif) 0 0 no-repeat #FAFAFA; color:#A67B03; text-decoration:none;}
#btleftPan ul {margin: 10px 25px; list-style-type: circle;}

#btleftPan form .label {clear: both; float: left; padding-bottom: 5px; width: 100%;}
#btleftPan form .label label {width: 90px; float: left; text-align: right; padding: 3px 10px 0 0;}
#btleftPan form .label textarea, #btleftPan .label input {float: left; font-size: 1.1em; width: 400px;}

/*----/Body Top Left Panel----*/

/*---INFOPANE----*/
.infopane {width: 369px; padding: 5px 15px 0 5px; float: left; clear: none; margin: 10px 0; }
.infopane h2 {background:#fff; color:#1d1636; font:26px/32px Georgia, "Times New Roman", Times, serif; margin: 8px 0px; padding-bottom: 4px; border-bottom: 1px dotted #0037A7;}
.infopane p {line-height: 1.4em; font-size: 1.1em; padding: 5px 0;}
.infopane p span{font-weight:bold;}

/*---/Infopane---*/


/*----Body Top Right Panel----*/
#btrightPan{width:214px; float:right; font-family:Arial, Helvetica, sans-serif; margin-top: 5px;}

#btrightPan .nav-link {width:216px; height:30px; display:block; font-size:18px; line-height:18px; position:relative; margin:0 0 5px 0;}
#btrightPan .nav-link h2{height:22px; display:block; background:#fff; color:#0037A7; font-size:18px; position:absolute; top:7px;}
#btrightPan .nav-link p{font-size:14px; position:absolute; top:30px; left:86px;}
#btrightPan .nav-link a{width:216px; height:30px; display:block; background:url(images/graph-nor.jpg) 13px 0 no-repeat; font-size:0px; text-decoration:none; margin:0 0 0 1px; text-indent:-2000px}
#btrightPan .nav-link a:hover{background:url(images/graph-hover.jpg) 13px 0 no-repeat; text-decoration:none;}

#btrightPan #news a {background:url(/images/news-unselected.png) 0 0 no-repeat;}
#btrightPan #clients a {background:url(/images/clients-unselected.png) 0 0 no-repeat;}
#btrightPan #services a {background:url(/images/services-unselected.png) 0 0 no-repeat;}
#btrightPan #about a {background:url(/images/about-unselected.png) 0 0 no-repeat;}
#btrightPan #contact a {background:url(/images/contact-unselected.png) 0 0 no-repeat;}
#contact {width: 100%;}
#contact p {margin: 0; padding: 0; font-weight: bold; text-align: right;}
#contact span {color: blue; text-align: right; } 

#btrightPan #news a:hover, #btrightPan #news-selected a {background:url(/images/news-selected.png) 0 0 no-repeat;}
#btrightPan #clients a:hover, #btrightPan #clients-selected a {background:url(/images/clients-selected.png) 0 0 no-repeat;}
#btrightPan #services a:hover, #btrightPan #services-selected a {background:url(/images/services-selected.png) 0 0 no-repeat;}
#btrightPan #about a:hover, #btrightPan #about-selected a {background:url(/images/about-selected.png) 0 0 no-repeat;}
#btrightPan #contact a:hover, #btrightPan #contact-selected a {background:url(/images/contact-selected.png) 0 0 no-repeat;}


/*----FOOTER PANEL----*/
#footermainPan{color:#585858; font:13px/20px "Trebuchet MS",Arial, Helvetica, sans-serif; clear:both; padding:120px 0 0 0; background:url(/images/background.png) 0 0 no-repeat; border-bottom: 1px dotted #0037A7}

#footerPan{width:706px; position:relative; padding:0 0 0 36px;}

#footerPan ul{width:375px; height:20px; position:relative; margin:0 auto;}
#footerPan li{float:left; }
#footerPan ul li a{padding:0 10px 0; color:#0037A7; text-decoration:none; font-size:12px;}
#footerPan ul li a:hover{text-decoration:underline;}

#footerPan p.copyright{width:250px; position:relative; margin:0 auto; color:#1D1636;  font-size:13px;}
/*----/FOOTER PANEL----*/
