<% @title = "About Us" %>
<% @selected = 'about' %>
<div id="bodytopPan">
  <div id="btleftPan">
  <h2>At Symonds Associates, clients are relationships, not transactions.</h2>
  <%= image_tag "about-page.png", :size => "550x150" %>
  <p>Founded in 1999, Symonds Associates, LLC provides business development strategic advisory services, merger and acquisition advisory services, and private equity and debt for growth companies in the telecommunications, digital media, and high technology sectors.</p>
  <h2>We focus on delivering strategic advisors.</h2>
  <p>Symonds Associates' professionals bring deep domain knowledge and strong transaction execution experience to their clients.</p>
  <ul>
    <li>Symonds Associates' engagement always results in higher ROI for our clients.</li>
  <li>Our Team Members have executed over 50 strategic transactions valued over $3 billion during their careers.</li>
  <li>Our experience, strong negotiating skill and commitment to engagement success are reflected in our exceptional track record of successful transactions.</li>
  </ul>
  <p>Symonds Associates works closely with our Clients as a trusted advisor in identifying, assessing and structuring strategic transactions.</p>
  </div>
</div>
