<% @title = "Our Clients" %>
<% @selected = 'clients' %>
<div id="bodytopPan">
  <div id="btleftPan">
    <h2>Our Clients</h2>
  <%= image_tag "clients-page.png" %>
    <p>Following is a representative list of Symonds Associates’ client companies:</p>
    <ul>
      <li>AT&T</li>
    <li>Bell South</li>
    <li>Qwest</li>
    <li>Grupo Televisa</li>
      <li>SES</li>
      <li>Intelsat</li>
      <li>Loral Space & Communications</li>
      <li>Lockheed Martin</li>
    <li>Gilat</li>
      <li>Sony Electronics</li>
      <li>Mitsubishi</li>
      <li>RaySat, Inc.</li>
      <li>Falcon Communications</li>
      <li>4Com</li>
      <li>Seiko</li>
      <li>JSAT</li>
      <li>DirecTV/Japan</li>
      <li>ChungHwa Telecommunications</li>
      <li>NTT</li>
    <li>DDI Media</li>
    </ul>
  </div>
</div>