<% @title = "Contact Us" %>
<% @selected = 'contact' %>
<div id="bodytopPan">
  <div id="btleftPan">
    <h2>Contact Us Now</h2>
  <%= image_tag "contact-page.png" %>
  <p>Symonds Associates has the solutions to your problems. Contact us now.</p>
  </div>
</div>
<div id="contact">
  <p><span>Address:</span><br/> 356 Thayer Pond Road</p>
  <p>Wilton, CT 06897</p>
  <p><span>Phone:</span><br/> 203-834-2766</p>
  <p><span>Email:</span><br/> <%= mail_to "info@symondsassociates.com" %></p>
</div>
