<% @title = "Contact Us" %>
<% @selected = 'contact' %>
<div id="bodytopPan">
  <div id="btleftPan">
    <h2>Contact Us Now</h2>
  <%= image_tag "contact-page.png" %>
  <p>Symonds Associates has the solutions to your problems. Contact us now: <%= mail_to "info@symondsassociates.com" %>.</p>
  </div>
</div>
<div id="contact">
  <p><span>Address:</span><br/> 842 W Aldine #1</p>
  <p>Chicago, IL 60657</p>
  <p><span>Phone:</span><br/> 203-434-7010</p>
  <p><span>Email:</span><br/> <%= mail_to "info@symondsassociates.com" %></p>
</div>
