<% @title = "Home" %>
<div id="bodytopPan">
  <div id="btleftPan">
    <h2>Welcome to Symonds Associates, LLC</h2>
    <p>Founded in 1999, Symonds Associates, LLC provides business development strategic advisory services, merger and acquisition advisory services, and investment advisory services for companies in the telecommunications, digital media, mobile communications, and high technology sectors.</p>
  </div>

  <div class="infopane">
    <h2>Our Services</h2>
  <%= image_tag "services-banner.png" %>
  <p>We provide a wide array of services tailored to our clients' needs.</p>
  <p>At Symonds Associates, clients are relationships, not transactions. We concentrate on delivering personal, focused strategic advisors to help clients acheive their long-term goals.</p>
  <p>We manage the process from beginning to end, ensuring opportunities are reviewed, presented and maanged to maximize the company value and market valuation.</p>
  <%= link_to "Learn more about our services...", '/services.html' %>
  </div>

  <div class="infopane">
    <h2>Our Clients</h2>
  <%= image_tag "clients-banner.png", :size => "369x150" %>
  <p>You'll be in good company as a client of Symonds Associates.</p>
  <p>Some of the biggest companies in the world have employed our deep industry knowledge and strong corporate relationships with investment banking, private equity, and venture capital syndicates.</p>
  <%= link_to "See others who have used us...", '/clients.html' %>
  </div>

</div>
