<% @title = "Our Services" %>
<% @selected = 'services' %>
<div id="bodytopPan">
  <div id="btleftPan">
    <h2>Our Services</h2>
  <%= image_tag "services-page.png", :size => "550x150" %>
  <p>Symonds Associates provides highly specialized professionals with core competencies in:</p>
    <ul>
      <li>Business development</li>
      <li>Strategic investment services</li>
    <li>Investment advisory</li>
    <li>Merger and acquisition assistance</li>
    <li>Private placement</li>
    <li>Private equity and debt</li>
    <li>Venture capital</li>
    <li>Debt financing and restructuring</li>
    <li>Telecommunications product/network development</li>
    <li>Digital media acquisition and packaging (in-home and mobile)</li>
    <li>Network engineering</li>
    </ul>
    <h2>Global Experience</h2>
  <p>Symonds Associates professionals have extensive experience in the following global regions:</p>
  <ul>
     <li>North America</li>
     <li>Latin America</li>
     <li>Western and Eastern Europe</li>
     <li>Asia-Pacific</li>
     <li>Middle East</li>
   </ul>
  </div>
</div>